In [2]:
import pandas as pd
import numpy as np
import gc # Garbage collection
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
gc.enable()

train = pd.read_csv('../data/training_set.csv', engine='python')
train_meta = pd.read_csv('../data/training_set_metadata.csv', engine='python')

In [4]:
train_meta.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

flux_ratio_sq = flux divided by flux error, squared:

$$ \left(\frac{{F}}{d{F}}\right)^2 $$

And then the flux-by-flux ratio sq is the product of the flux and flux_ratio_sq:

$$ F  \left(\frac{{F}}{d{F}}\right)^2 $$.

I am not entirely sure what these are supposed to get us; the flux_ratio is fine. The other ...

In [5]:
# We only want:
cols_to_keep = ['gal_l', 'gal_b', 'hostgal_photoz', 'hostgal_photoz_err', 'mwebv']
meta_kept = train_meta[cols_to_keep]
meta_kept.head()

        gal_l      gal_b  hostgal_photoz  hostgal_photoz_err  mwebv
0  320.796530 -51.753706          0.0000              0.0000  0.017
1  223.525509 -54.460748          1.6267              0.2552  0.007
2  170.455585 -61.548219          0.2262              0.0157  0.021
3  328.254458 -68.969298          0.2813              1.1523  0.007
4  316.922299 -51.059403          0.2415              0.0176  0.024

In [6]:
# What's happening here??
# (f/df)
train['flux_ratio_sq'] = np.power(train['flux'] / train['flux_err'], 2.0)
train['flux_by_flux_ratio_sq'] = train['flux'] * train['flux_ratio_sq']
train.head()

,object_id,mjd,passband,flux,flux_err,detected,flux_ratio_sq,flux_by_flux_ratio_sq
0,615,59750.4229,2,-544.810303,3.622952,1,22613.379109,-1.232000e+07
1,615,59750.4306,1,-816.434326,5.553370,1,21613.708602,-1.764617e+07
2,615,59750.4383,3,-471.385529,3.801213,1,15378.291200,-7.249104e+06
3,615,59750.4450,4,-388.984985,11.395031,1,1165.291701,-4.532810e+05
4,615,59752.4070,2,-681.858887,4.041204,1,28468.688609,-1.941163e+07

In [7]:
print('number of observations NOT detected = {}'.format(len(train['detected'].loc[train['detected'] == 0])))
print('number of observations detected = {}'.format(len(train['detected'].loc[train['detected'] == 1])))

number of observations NOT detected = 1184825
number of observations detected = 236880

In [8]:
aggs = {
    'mjd': ['min', 'max', 'size'],
    'flux': ['min', 'max', 'mean', 'median', 'std','skew'],
    'flux_err': ['min', 'max', 'mean', 'median', 'std','skew'],
    'detected': ['mean'],
    'flux_ratio_sq':['sum','skew'],
    'flux_by_flux_ratio_sq':['sum','skew'],
}
agg_train = train.groupby(['object_id', 'passband'])
# agg_train.head()

We'll want to keep the passband broken out. Right now, we have the fluxes and flux errors and the ratio of flux and flux errors. So, basically we have no real sense of the time-dependence of the object. What should we do to get the time dependence? Perhaps create a GAN, who's goal is to re-create the time-series data. We'll need to mask the gaps, because the loss in there will suck, but that's probably taken care of because we simply don't have samples in those regions.

In [9]:
train.head()

,object_id,mjd,passband,flux,flux_err,detected,flux_ratio_sq,flux_by_flux_ratio_sq
0,615,59750.4229,2,-544.810303,3.622952,1,22613.379109,-1.232000e+07
1,615,59750.4306,1,-816.434326,5.553370,1,21613.708602,-1.764617e+07
2,615,59750.4383,3,-471.385529,3.801213,1,15378.291200,-7.249104e+06
3,615,59750.4450,4,-388.984985,11.395031,1,1165.291701,-4.532810e+05
4,615,59752.4070,2,-681.858887,4.041204,1,28468.688609,-1.941163e+07

In [11]:
train_meta.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [13]:
obj_ids = train_meta[train_meta['target'] == 92]['object_id']

In [18]:
train

,object_id,mjd,passband,flux,flux_err,detected,flux_ratio_sq,flux_by_flux_ratio_sq
0,615,59750.4229,2,-544.810303,3.622952,1,22613.379109,-1.232000e+07
1,615,59750.4306,1,-816.434326,5.553370,1,21613.708602,-1.764617e+07
2,615,59750.4383,3,-471.385529,3.801213,1,15378.291200,-7.249104e+06
3,615,59750.4450,4,-388.984985,11.395031,1,1165.291701,-4.532810e+05
4,615,59752.4070,2,-681.858887,4.041204,1,28468.688609,-1.941163e+07
5,615,59752.4147,1,-1061.457031,6.472994,1,26890.224454,-2.854282e+07
6,615,59752.4224,3,-524.954590,3.552751,1,21833.026104,-1.146135e+07
7,615,59752.4334,4,-393.480225,3.599346,1,11950.845409,-4.702421e+06
8,615,59752.4435,5,-355.886780,10.421921,1,1166.079493,-4.149923e+05
9,615,59767.2968,2,-548.013550,3.462291,1,25052.753196,-1.372925e+07
10,615,59767.3045,1,-815.188599,5.293019,1,23719.705267,-1.933603e+07
11,615,59767.3122,3,-475.516052,3.340643,1,20261.436373,-9.634638e+06
12,615,59767.3233,4,-405.663818,3.496113,1,13463.613165,-5.461701e+06
13,615,59767.3343,5,-421.199066,6.377517,1,4361.858261,-1.837211e+06
14,615,59770.2179,2,-554.903198,3.927843,1,19958.422637,-1.107499e+07
15,615,59770.2256,1,-820.042786,5.875329,1,19480.883239,-1.597516e+07
16,615,59770.2334,3,-477.004730,3.736262,1,16299.366503,-7.774875e+06
17,615,59770.2445,4,-400.270386,3.834955,1,10893.975032,-4.360536e+06
18,615,59770.2557,5,-415.286896,7.435979,1,3119.034265,-1.295294e+06
19,615,59779.3188,2,-630.523682,4.333287,1,21172.293126,-1.334963e+07
20,615,59779.3265,1,-921.002502,6.306800,1,21325.710147,-1.964103e+07
21,615,59779.3342,3,-518.533997,3.915225,1,17540.461711,-9.095326e+06
22,615,59779.3452,4,-422.184509,4.089213,1,10659.212548,-4.500154e+06
23,615,59779.3562,5,-422.815094,8.124096,1,2708.637408,-1.145253e+06
24,615,59782.1897,2,-280.039520,2.819228,1,9866.843709,-2.763106e+06
25,615,59782.1974,1,-449.095612,4.028310,1,12428.875980,-5.581754e+06
26,615,59782.2051,3,-316.704865,3.491153,1,8229.466943,-2.606312e+06
27,615,59782.2162,4,-332.885437,4.021619,1,6851.532849,-2.280776e+06
28,615,59782.2274,5,-365.075775,8.514805,1,1838.300980,-6.711192e+05
29,615,59797.2861,2,391.399231,3.098059,1,15961.017270,6.247130e+06
...,...,...,...,...,...,...,...,...
1421675,130779836,60464.2127,2,3.294472,23.675900,0,0.019362,6.378881e-02
1421676,130779836,60466.2566,0,113.988297,57.096981,0,3.985605,4.543123e+02
1421677,130779836,60490.1588,2,12.464979,23.430984,0,0.283010,3.527716e+00
1421678,130779836,60491.1907,1,-13.734149,19.639900,0,0.489018,-6.716248e+00
1421679,130779836,60496.1248,2,-14.478923,23.485855,0,0.380067,-5.502956e+00
1421680,130779836,60497.1472,3,12.178056,15.891281,0,0.587270,7.151812e+00
1421681,130779836,60498.1867,3,-20.815857,19.349518,0,1.157306,-2.409032e+01
1421682,130779836,60499.1367,0,54.361107,40.085011,0,1.839131,9.997718e+01
1421683,130779836,60503.1145,3,9.912425,27.719427,0,0.127877,1.267568e+00
1421684,130779836,60505.1075,2,17.719660,23.651981,0,0.561275,9.945603e+00
1421685,130779836,60506.0962,5,-86.457382,57.588879,0,2.253860,-1.948628e+02
1421686,130779836,60510.2053,4,-39.215195,23.872086,0,2.698535,-1.058236e+02
1421687,130779836,60515.2731,5,-81.113083,46.094658,0,3.096568,-2.511722e+02
1421688,130779836,60524.0372,0,136.082718,61.556919,0,4.887111,6.650513e+02
1421689,130779836,60525.0621,0,43.910740,59.821396,0,0.538801,2.365915e+01
1421690,130779836,60526.1904,3,59.376686,27.732946,0,4.583950,2.721798e+02
1421691,130779836,60528.0336,3,5.993599,27.752035,0,0.046643,2.795589e-01
1421692,130779836,60530.0978,1,2.986908,19.109673,0,0.024431,7.297247e-02
1421693,130779836,60536.0451,5,5.653964,53.119434,0,0.011329,6.405488e-02
1421694,130779836,60537.1470,3,-41.850040,26.782366,0,2.441709,-1.021856e+02
1421695,130779836,60542.0489,4,-60.500492,14.743795,0,16.838339,-1.018728e+03
1421696,130779836,60543.0247,4,-48.527161,24.004080,0,4.086953,-1.983282e+02
1421697,130779836,60545.9844,5,32.006413,77.931732,0,0.168673,5.398615e+00
1421698,130779836,60546.9804,5,68.152985,56.351048,0,1.462735,9.968978e+01
1421699,130779836,60548.9789,4,-60.066154,34.353317,0,3.057189,-1.836336e+02
1421700,130779836,60555.9838,4,-39.881969,46.477093,0,0.736335,-2.936648e+01
1421701,130779836,60560.0459,1,14.894439,18.947685,0,0.617925,9.203651e+00
1421702,130779836,60571.0225,5,30.593130,50.695290,0,0.364177,1.114132e+01
1421703,130779836,60585.9974,4,-23.471439,44.819859,0,0.274245,-6.436921e+00
1421704,130779836,60588.0372,0,-41.214264,51.665123,0,0.636356,-2.622695e+01